
.icon-addon {
    position: relative;
}

.icon-addon.addon-md .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    left: 10px;
    padding: 10px 0;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
}

.top-buffer {
   margin-top:20px;
   }
   
.bottom-buffer
{
    margin-bottom: 30px;
}
