<div class="container-fluid">
<div class="row">
<div class="col-md-offset-2">
   <button type="button" ui-sref="home" class="btn btn-default">All contacts</button>
   <button type="button" ui-sref="favorite" class="btn btn-default">Favorite contacts</button>
</div>
<div>
<div class="row top-buffer">
<div class="col-md-offset-2 col-md-3">
   <div class="icon-addon addon-md">
      <input ng-model="criteria" type="text" placeholder="search" class="form-control" id="search">
      <label for="search" class="glyphicon glyphicon-search" rel="tooltip" ></label>
   </div>
</div>
<div>
<div class="row">
   <div class="col-md-offset-2 col-md-8">
      <table class="table table-striped">
         <thead>
            <tr>
               <th></th>
               <th>Name</th>
               <th>DOB</th>
               <th>Phone number</th>
               <th>Favorite</th>
            </tr>
         </thead>
         <tbody>

            <tr ng-repeat="contact in contacts | filter:criteriaMatch(criteria) track by $index">
               <td><input type="checkbox" ng-model="contact.isChecked" ng-change="check(contact.isChecked)" ></input></td>
               <td>{{ contact.first }} {{contact.last}}</td>
               <td>{{ contact.dob | date :  "dd.MM.yyyy" }}</td>
               <td>{{ contact.phone }}</td>
               <td><input type="checkbox" ng-model="contact.isFavorite" ng-change="changeStatus(contact.id, contact.isFavorite)" ></input></td>
               <td><button ui-sref='editContact({contactId: {{contact.id}}})' type="button" class="btn btn-success">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                  </button>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
<div class="row">
<div class="col-md-offset-8">
   <button type="button" ng-disabled="checkedNumber == 0" ng-click="remove()" class="btn btn-danger">Remove</button>
   <button ui-sref='addContact' type="button" class="btn btn-primary">Add new</button>   
</div>
<div>

</div>
